/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    font-family: 'Times New Roman', Times, serif;


}
.box-1 img{
    width: 400px;
    height: 250px;
    display: block;
    
    margin-left: auto;
    margin-right: auto;
}
.box-2 img{
    width: 400px;
    height: 250px;
    
}
header{
    background-color: yellowgreen;
    text-align: center;
}
header h1{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
header nav{
    font-size: 20px;
}
.box-1{
    background-color: yellow;
    padding-left: 5px;
}
.box-1 h2{
    font-size: 25px;
    text-align: center;
}
.para{
    line-height: 1.5em;
}
.box-2{
    background-color:lightblue;
}
.box-2 h2{
    font-size: 30px;
    text-align: center;
}
.box-2 img{
    margin-right: auto;
    margin-left: auto;
    display: block;
}
footer{
    background-color: lightcoral;
    text-align: center;
}
.box-3 img{
    width: 400px;
    height: 240px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.box-3 h2{
    font-size: 25px;
    text-align: center;
}
.box-4 img{
    width: 400px;
    height: 240px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.box-4 h2{
    font-size: 25px;
    text-align: center;
}
.box-3 ,.box-4{
    background-color: lightsalmon;
}
.box-5 img{
    width: 400px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.box-5 h2{
    font-size: 25px;
    text-align: center;
}
.box-6 img{
    width: 400px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.box-6 h2{
    font-size: 25px;
    text-align: center;
}
.box-5,.box-6{
    background-color: mediumspringgreen;
}
